.container {
    display: block;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    min-height: 70vh;
}
.setting_left {
    max-width: unset;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.setting_toolbar {
    position: relative;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}
.header_toolbar {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-bottom: 4px;
}
.setting_avatar {
    width: 60px;
    height: 60px;
}
.setting_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.username {
    margin-left: 16px;
}
.username h3 {
    font-size: 18px;
    font-weight: 700;
}
.username span {
    text-transform: capitalize;
    font-size: 16px;
    color: #474747;
    font-weight: 500;
}
.setting_toolbar hr {
    background-color: #ddd;
    height: 1px;
    border: 0;
    margin: 10px 0;
}
.nav {
    margin-bottom: 4px;
}
.navItem {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}
.navItem a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
}
.navItem.active {
    color: #e03;
    background: #f6f6f6;
    border-radius: -webkit-calc(10px - 4px);
    border-radius: calc(10px - 4px);
}
.navItem a i {
    color: #e03;
    width: 40px;
    font-size: 18px;
    padding-right: 10px;
    margin-right: 6px;
}
.setting_right {
    flex-grow: 1;
    max-width: 640px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
}
.setting_content {
    flex-grow: 1;
    padding: 0 16px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}
.setting_contentItem {
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
}
.setting_contentItem > div {
    cursor: pointer;
    width: 100%;
    padding: 10px 16px;
    border-radius: -webkit-calc(10px - 4px);
    border-radius: calc(10px - 4px);
}
.setting_contentItem > div .top {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.setting_contentItem > div .top .title h2 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-weight: 500;
    font-size: 21px;
}
.setting_contentItem > div .top .title i {
    width: 32px;
    font-size: 24px;
}
.setting_contentItem > div .top .action {
    cursor: pointer;
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting_contentItem > div .top .action i {
    font-weight: 400;
}
.setting_contentItem > div .body span {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    margin-left: 34px;
    margin-right: 60px;
    color: #474747;
}
.setting_contentItem > div .body .created {
    cursor: pointer;
    color: #05f;
    font-size: 16px;
}
.setting_contentItem > div .body .created > i {
    margin-right: 4px;
}

.setting_contentItem > div .form {
    padding-left: 32px;
}
.setting_contentItem > div .form .input {
    margin: 6px 0 10px;
}
.setting_contentItem > div .form .input input {
    display: block;
    width: 240px;
    font-size: 16px;
    color: #474747;
    padding: 4px 10px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.setting_contentItem > div .form .button {
    margin-bottom: 10px;
}
.setting_contentItem > div .form .button button {
    font-size: 14px;
    padding: 2px 10px;
    margin-right: 4px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.setting_contentItem > div .form .button button.submit {
    color: #fff;
    background: #e03;
    border-color: #e03;
}
@media (min-width: 992px) {
    .container {
        display: flex;
        padding: 0 16px;
    }
    .setting_right {
        margin-left: 20px;
    }
    .setting_left {
        max-width: 340px;
    }
}
