.logo {
    font-size: 30px;
    font-weight: 700;
    color: red;
    font-family: "Paytone One", sans-serif;
    font-weight: 700;
}
.icon {
    width: 15px;
}
.links {
    font-size: 20px;
    font-weight: 700;
    font-family: "Paytone One", sans-serif;
}
.links span {
    display: flex;
    justify-content: center;
    align-items: center;
}
